<html>
<head>
    <title>Factory</title>
		<link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
		<script type="text/javascript" src="{{ url_for('static', filename="js/jquery-3.3.1.min.js") }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename="js/d3.v2.min.js") }}"></script>
        <style>
            .devicerow {
                background-color: #8a8c8e;
                border-radius: 15px;
                margin: 5px;
            }
            .nodecol {
                background-color: #abaeb2;
                border-radius: 15px;
                margin: 20px;
            }
        </style>
		<style>
			body {
				font-family:  Helvetica, Arial, sans-serif;
				margin: 32px;
			}

			.gauge g.arc {
				fill: steelblue;
			}

			.gauge g.pointer {
				fill: #e85116;
				stroke: #b64011;
			}

			.gauge g.label text {
				text-anchor: middle;
				font-size: 14px;
				font-weight: bold;
				fill: #666;
			}
		</style>


	</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Production Control</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home</a>
        <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
        <a class="nav-item nav-link" href="/admin">Admin</a>
    </div>
  </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col text-center h1">
        Factory
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            Welcome to the Factory! Check out the dashboard
        </div>
    </div>
</div>
</body>
</html>
