<html>
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
		<script type="text/javascript" src="{{ url_for('static', filename="js/jquery-3.3.1.min.js") }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename="js/d3.v2.min.js") }}"></script>
        <style>
            .devicerow {
                background-color: #8a8c8e;
                border-radius: 15px;
                margin: 5px;
            }
            .nodecol {
                background-color: #abaeb2;
                border-radius: 15px;
                margin: 20px;
            }
        </style>
		<style>
			body {
				font-family:  Helvetica, Arial, sans-serif;
				margin: 32px;
			}

			.gauge g.arc {
				fill: steelblue;
			}

			.gauge g.pointer {
				fill: #e85116;
				stroke: #b64011;
			}

			.gauge g.label text {
				text-anchor: middle;
				font-size: 14px;
				font-weight: bold;
				fill: #666;
			}
		</style>


	</head>
	<body>
<script>
var gauge = function(container, configuration) {
    var that = {};
    var config = {
        size                        : 200,
        clipWidth                    : 200,
        clipHeight                    : 110,
        ringInset                    : 20,
        ringWidth                    : 20,
        
        pointerWidth                : 10,
        pointerTailLength            : 5,
        pointerHeadLengthPercent    : 0.9,
        
        minValue                    : 0,
        maxValue                    : 10,
        
        minAngle                    : -90,
        maxAngle                    : 90,
        
        transitionMs                : 750,
        
        majorTicks                    : 5,
        labelFormat                    : d3.format(',g'),
        labelInset                    : 10,
        
        arcColorFn                    : d3.interpolateHsl(d3.rgb('#e8e2ca'), d3.rgb('#3e6c0a'))
    };
    var range = undefined;
    var r = undefined;
    var pointerHeadLength = undefined;
    var value = 0;
    
    var svg = undefined;
    var arc = undefined;
    var scale = undefined;
    var ticks = undefined;
    var tickData = undefined;
    var pointer = undefined;

    var donut = d3.layout.pie();
    
    function deg2rad(deg) {
        return deg * Math.PI / 180;
    }
    
    function newAngle(d) {
        var ratio = scale(d);
        var newAngle = config.minAngle + (ratio * range);
        return newAngle;
    }
    
    function configure(configuration) {
        var prop = undefined;
        for ( prop in configuration ) {
            config[prop] = configuration[prop];
        }
        
        range = config.maxAngle - config.minAngle;
        r = config.size / 2;
        pointerHeadLength = Math.round(r * config.pointerHeadLengthPercent);

        // a linear scale that maps domain values to a percent from 0..1
        scale = d3.scale.linear()
            .range([0,1])
            .domain([config.minValue, config.maxValue]);
            
        ticks = scale.ticks(config.majorTicks);
        tickData = d3.range(config.majorTicks).map(function() {return 1/config.majorTicks;});
        
        arc = d3.svg.arc()
            .innerRadius(r - config.ringWidth - config.ringInset)
            .outerRadius(r - config.ringInset)
            .startAngle(function(d, i) {
                var ratio = d * i;
                return deg2rad(config.minAngle + (ratio * range));
            })
            .endAngle(function(d, i) {
                var ratio = d * (i+1);
                return deg2rad(config.minAngle + (ratio * range));
            });
    }
    that.configure = configure;
    
    function centerTranslation() {
        return 'translate('+r +','+ r +')';
    }
    
    function isRendered() {
        return (svg !== undefined);
    }
    that.isRendered = isRendered;
    
    function render(newValue) {
        svg = d3.select(container)
            .append('svg:svg')
                .attr('class', 'gauge')
                .attr('width', config.clipWidth)
                .attr('height', config.clipHeight);
        
        var centerTx = centerTranslation();
        
        var arcs = svg.append('g')
                .attr('class', 'arc')
                .attr('transform', centerTx);
        
        arcs.selectAll('path')
                .data(tickData)
            .enter().append('path')
                .attr('fill', function(d, i) {
                    return config.arcColorFn(d * i);
                })
                .attr('d', arc);
        
        var lg = svg.append('g')
                .attr('class', 'label')
                .attr('transform', centerTx);
        lg.selectAll('text')
                .data(ticks)
            .enter().append('text')
                .attr('transform', function(d) {
                    var ratio = scale(d);
                    var newAngle = config.minAngle + (ratio * range);
                    return 'rotate(' +newAngle +') translate(0,' +(config.labelInset - r) +')';
                })
                .text(config.labelFormat);

        var lineData = [ [config.pointerWidth / 2, 0], 
                        [0, -pointerHeadLength],
                        [-(config.pointerWidth / 2), 0],
                        [0, config.pointerTailLength],
                        [config.pointerWidth / 2, 0] ];
        var pointerLine = d3.svg.line().interpolate('monotone');
        var pg = svg.append('g').data([lineData])
                .attr('class', 'pointer')
                .attr('transform', centerTx);
                
        pointer = pg.append('path')
            .attr('d', pointerLine/*function(d) { return pointerLine(d) +'Z';}*/ )
            .attr('transform', 'rotate(' +config.minAngle +')');
            
        update(newValue === undefined ? 0 : newValue);
    }
    that.render = render;
    
    function update(newValue, newConfiguration) {
        if ( newConfiguration  !== undefined) {
            configure(newConfiguration);
        }
        var ratio = scale(newValue);
        var newAngle = config.minAngle + (ratio * range);
        pointer.transition()
            .duration(config.transitionMs)
            .ease('elastic')
            .attr('transform', 'rotate(' +newAngle +')');
    }
    that.update = update;

    configure(configuration);
    
    return that;
};
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a href="#" class="navbar-brand">Production Control</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link active" href="/dashboard">Dashboard</a>
        <a class="nav-item nav-link" href="/admin">Admin</a>
    </div>
  </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Current Device Status</h1>
        </div>
    </div>
{% for device in devices %}
    <div id="d-{{ device.Name }}" class="row devicerow">
        <div class="col-12 text-center">
            <h1>{{ device.Name }}</h1><br/>
        </div>
{% for node in device.Nodes %}
        <div class="col nodecol">
            <h2>{{ node.Name }}</h2>
             {% if node.ReadOnly %}
                <div id="gauge-d{{ node.device.DeviceID }}n{{ node.NodeID}}" class="gauge"></div>
            {% endif %}
                <h3><span id="d{{ node.device.DeviceID }}n{{ node.NodeID}}">{{ node.Value }}</span> {{ node.ValueUnits }}</h3>
    <script>
    function onDocumentReadyd{{ node.device.DeviceID }}n{{ node.NodeID}}(){
{% if node.ReadOnly %}
        var thisGauge = gauge("#gauge-d{{ node.device.DeviceID }}n{{ node.NodeID}}", {
            size: 300,
            clipWidth: 400,
            clipHeight: 180,
            ringWidth: 40,
            maxValue: {{ node.MaxVal }},
            minValue: {{ node.MinVal }},
            transitionMs: 3000,
        });
        thisGauge.render();
        thisGauge.update({{ node.Value }});
{% endif %}
        setInterval(function(){
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function(){


            if (this.readyState === this.DONE) {
                    // Everything is good, the response was received.
                var myReturn = JSON.parse(this.responseText);
                document.getElementById("d{{ node.device.DeviceID }}n{{ node.NodeID}}").innerHTML=myReturn.value;
{% if node.ReadOnly %}
                thisGauge.update(myReturn.value);
{% endif %}
            } else {
                    // Not ready yet.
            }
                // Process the server response here.
        };
        httpRequest.open("GET", "/api/get/{{ node.device.DeviceID }}/{{ node.NodeID}}", true);
        httpRequest.send()
        },3000);
    }
    if ( !window.isLoaded ) {
        window.addEventListener("load", function() {
            onDocumentReadyd{{ node.device.DeviceID }}n{{ node.NodeID}}();
        }, false);
    } else {
        onDocumentReadyd{{ node.device.DeviceID }}n{{ node.NodeID}}();
    }
    </script>
    </div>
{% endfor %}
    </div>
{% endfor %}
</div>
	</body>

</html>
{# vim: set syntax=jinja : #}
